<form action='/wombles/birth/submit' method='POST'>
  Birth Certificate
  <br />
  Womble name:

  <input type='text' name='wombleName' /><br />
  Womble characteristic:
  <input type='text' name='wombleCharacteristic' /><br />
  <button type='submit'>submit</button>

</form>